<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsStudy</title>
</head>
<body>
    <button onclick="popup()">Alert Test</button>
    <!-- 옛날 방식 -->
    <button onclick="strPopup('koreait')">Alert Test2</button>
    <!-- 요즘은 백커터를 사용 `` -->
    <button onclick="backquter('김하나')">Alert Test2</button>


    <script src="/jsExample1/static/js/buttonEvent.js"></script>
</body>
</html>